html {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f0f5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

#page-home{    
    max-width: 780px;
    margin: 0 auto;
}

#page-home header{
    font-size: x-large;
    margin-top: 70px;
    height: 100px;
    display: grid;
    grid-template-columns: 60% 14%;
    align-items: center;    
    background-color: #6832c8;
    color: white;
    justify-content: center;
    border-radius: 20px;
}

#page-home header h1{
    justify-self: center;
    margin: 0;
}

#page-home header img{
    width: 70%; 
    height: 70%; 
    object-fit: contain; 
    justify-self: center;
}

form{
    display: flex;
    /* background-color: white; */
    margin-top: 40px;    
    border-radius: 8px;
}

form fieldset{
    margin-top: 64px;
    margin-bottom: 20px;
    border: 0;
    padding: 0;
}

form fieldset .items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
}

form fieldset .items-grid li{
    background-color: #6832c8;
    list-style: none;
    border-radius: 20px;
    height: 150px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column;
    
    
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
    cursor: pointer;
}

form fieldset .items-grid li span{
    margin-top: 12px;
    font-size: 25px;
    font-weight: bold;
    flex: 1;
    display: flex;
    align-items: center;
    color: whitesmoke;
    pointer-events: none;
}

form fieldset .items-grid li.selected{
    background: rgba(255, 255, 255, 0.733);
    border: 2px solid #6832c8;
}

form fieldset .items-grid li.selected span{
    color: #6832c8;
}

form fieldset .items-grid li img{
    width: 60%; 
    height: 60%; 
    object-fit: contain; 
}

